.iif-block--footer {
	// Footer is not in content wrapper, so it must have same padding as content
	padding: 0 16px 16px;
}

.iif-footer-buttons {
	text-align: right;
	button:last-child {
		margin-right: 0;
	}
}
