.iif-form-button {
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	flex-shrink: 0;

	font-size: $iif-button-font-size; // changed for search
	line-height: $iif-button-line-height; // changed for search

	height: $iif-input-height; // changed for search
	margin: 0 0 0 $iif-spacing;
	padding: (
			($iif-input-height - $iif-button-line-height) / 2 -
				$iif-button-border-width
		)
		($iif-spacing * 2); // changed for search

	color: $iif-button-color;
	background: $iif-button-background-color;
	border: $iif-button-border-width solid $iif-button-border-color;
	border-radius: $iif-button-border-radius;

	text-decoration: none;
	outline: none;

	// Secondary
	&--secondary {
		color: $iif-button-secondary-color;
		background: $iif-button-secondary-background-color;
		border-color: $iif-button-secondary-border-color;
	}

	// Destructive
	&--destructive {
		color: $iif-button-destructive-color;
		background: $iif-button-destructive-background-color;
		border-color: $iif-button-destructive-border-color;
	}

	// States
	&:hover {
		color: $iif-button-hover-color;
		background: $iif-button-hover-background-color;
		border-color: $iif-button-hover-border-color;
	}

	&:focus {
		outline: none;
	}

	&:focus:not(:hover) {
		color: $iif-button-focus-color;
		background: $iif-button-focus-background-color;
		border-color: $iif-button-focus-border-color;
	}

	&:disabled {
		cursor: inherit;
		color: $iif-button-disabled-color;
		background: $iif-button-disabled-background-color;
		border-color: $iif-button-disabled-border-color;
	}

	// Icon
	svg {
		display: inline-block;
		vertical-align: -0.125em;
		margin: 0;
		position: relative;
		left: (0 - $iif-spacing / 2); // assuming button is before text
		opacity: 0.5;
	}
	&:hover svg {
		opacity: 1;
	}
}

// Changes for search (copy all values that are changed)
.iif-block--search {
	.iif-form-button {
		font-size: $iif-big-button-font-size;
		line-height: $iif-big-button-line-height;

		height: $iif-big-input-height;
		margin: 0 0 0 $iif-spacing;
		padding: (
				($iif-big-input-height - $iif-big-button-line-height) / 2 -
					$iif-button-border-width
			)
			($iif-spacing * 2);
	}
}
